@import "~bootstrap/dist/css/bootstrap.min.css";

body {
}

.bg-purple {
  background-color: #a84de7 !important;
  color: white !important;
}

.banner {
  height: 400px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horz-line {
  width: 100px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #6c757d;
}

/* paginate css */
.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}


.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}


.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 50%;
  margin: auto;
}
/* paginate end */

.bg-light-blue {
  background-color: #F7FBFF;
}

.bg-white {
  background-color: #fff;
}

.text-justify {
  text-align: justify !important;
}

.author-container {
  background-color: #F5F5F5;
}

.author-container p {
  padding: 0;
  margin: 0;
}